# directories (by name)

/scratch/


# directories (by pattern)


# files (by name)

.DS_Store


# files (by pattern)

*~
*.[568vq]
*.a
*.dylib
*.exe
*.lib
*.o
*.prof
*.so
*.sw[pon]
*.test
*.tmp
*.zip

